{% extends 'website/base.html' %}
{% load static %}
 
{% block content %}
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/steakncheese.jpg' %}" width=100% height=100%>
            <div class="carousel-caption">
                <h1 class="display-2" font-size=100%>Sandwiches and Burgers</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/coffee2.jpg' %}" width=100% height=100%>
            <div class="carousel-caption">
                <h1 class="display-2" font-size=100%>We serve Starbucks Coffee</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/bibimbap2.jpg' %}" width=100% height=100%>
            <div class="carousel-caption">
                <h1 class="display-2" font-size=100%>Bibimbap</h1>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container" width = 100%>
    <div class="row text-center">
        <div class="col">
            <i class="fas fa-compass"></i>
            <h1 class="display-4" font-size=8vw> LOCATION </h1>
            <p class="lead" font-size=100%>Prosperity Medical Center 8503 Arlington Boulevard #160 Fairfax, Virginia 22031</p>
        </div>
        <div class="col">
            <i class="fas fa-clock"></i>
            <h1 class="display-4" font-size=8vw> HOURS </h1>
            <p class="lead" font-size=100%>Monday-Friday 7am-4pm </p>
        </div>
    </div>
</div>

<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Venezia Cafe</div>
</footer>

{% endblock %}