{% extends 'website/base.html' %}
{% load static %}
 
{% block content %}
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Hot Sandwiches</h1>
</div>
<br>
<div class = "row justify-content-around">
    <div class = "col-4">
        <h6 class = "display-6">Cheeseburger &nbsp;&nbsp; 4.99</h6>
        <p>Lettuce, Tomato, Onion</p>
        <h6 class = "display-6">Double Cheeseburger &nbsp;&nbsp; 6.99</h6>
        <p>Lettuce, Tomato, Onion</p>             
        <h6 class = "display-6">Bacon Cheeseburger &nbsp;&nbsp; 5.99</h6>
        <p>Lettuce, tomato, mayo, bacon</p>      
        <h6 class = "display-6">Veggie Burger &nbsp;&nbsp; 5.99</h6>
        <p>Lettuce, tomato, mayo, onion, pickle</p>   
        <h6 class = "display-6">Turkey Burger &nbsp;&nbsp; 5.99</h6>
        <p>Lettuce, tomato, mayo, onion, pickle</p>      
        <h6 class = "display-6">Grilled/Crispy Chicken &nbsp;&nbsp; 6.29</h6>
        <p>Lettuce, tomato, mayo</p>      
        <h6 class = "display-6">Reuben &nbsp;&nbsp; 6.49</h6>
        <p>Corn beef, swiss cheese, sauerkraut, russian dressing</p>   
        <h6 class = "display-6">Hot Pastrami &nbsp;&nbsp; 6.49</h6>
        <p> Mustard, swiss cheese</p>   
        <h6 class = "display-6"> Tuna Melt  &nbsp;&nbsp; 6.29</h6>
        <p>Melted provolone cheese, grilled tuna</p>   
        <h6 class = "display-6">Fish Fillet Sub w/Cheese &nbsp;&nbsp; 6.99</h6>
        <p> Flounder, lettuce tomato, tartar sauce</p>      
    </div>
    <div class = "col-4">
        <h6 class = "display-6">Steak and Cheese Sub &nbsp;&nbsp; 6.99</h6>
        <p>Green peppers,, onion, lettuce, tomato, mayo</p>
        <h6 class = "display-6">Philly Chicken and Cheese Sub &nbsp; 6.99</h6>
        <p>Green peppers, onion, lettuce, tomato, mayo</p>        
        <h6 class = "display-6">Chipotle Chicken  &nbsp;&nbsp; 6.99</h6>
        <p>Bacon, tomato, chipotle sauce, american cheese</p>      
        <h6 class = "display-6">Gyro (Beef or Chicken) &nbsp;&nbsp; 6.29</h6>
        <p>Lettuce, tomato, onion, yogurt cucumber sauce</p>      
        <h6 class = "display-6">Quesadilla (Chicken or Steak)   &nbsp;&nbsp; 6.99</h6>
        <p>Served with lettuce, salsa, sour cream</p>   
        <h6 class = "display-6">Chicken Parmesan Sub &nbsp;&nbsp; 6.99</h6>
        <p> Provolone cheese, marinara sauce,parmesan cheese</p>      
        <h6 class = "display-6">Spinach Melt &nbsp;&nbsp; 6.29</h6>
        <p>Provolone cheese and mushroom on pocket pita</p>      
        <h6 class = "display-6">The Manhattan &nbsp;&nbsp; 6.99</h6>
        <p>Hot roast beef, American cheese, bacon</p>   
        <h6 class = "display-6">Hot Turkey Special on toasted Rye bread &nbsp;&nbsp; 6.99</h6>
        <p> Hot turkey, provolone cheese, cole slaw, russian dressing</p>   
    </div>
</div>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Club Sandwiches &nbsp;&nbsp; 6.99</h2>
        <p> All club sandwiches are served with bacon, cheese, lettuce,    
            tomato, and mayo
       </p>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-4" align="center">
        <h6 class = "display-6">Turkey and Ham club</h6>  
        <h6 class = "display-6">Turkey club</h6>            
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Ham club</h6>
        <h6 class = "display-6">Roast Beef club</h6>   
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Tuna Salad club</h6>
        <h6 class = "display-6">Chicken Salad club</h6> 
    </div>
</div>

<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Special Combo Meals</h1>
</div> 
<br>
<div class="row justify-content-center">
    <div class="col-5" align="center">
        <h6 class = "display-6"> Cheeseburger with Fries or Chips & Med. Fountain Soda</h6>  
        <h6 class = "display-6">7.99</h6>  
        <h6 class = "display-6"> Cheeseburger with Fries or Chips & Med. Fountain Soda</h6>  
        <h6 class = "display-6">9.29</h6>            
    </div>
    <div class="col-5" align="center">
        <h6 class = "display-6">Grilled Chicken Breast Sandwich with Fries or Chips & Med. Fountain Soda</h6>
        <h6 class = "display-6">8.79</h6>      
        <h6 class = "display-6">Club Sandwich with chips &Med. Fountain Soda </h6> 
        <h6 class = "display-6">8.79</h6>      
    </div>
</div>

<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Venezia Specials</h1>
</div> 
<br>
<div class = "row justify-content-around">
    <div class = "col-4">
        <h6 class = "display-6"> Bibimbap (Mixing bowl) Beef or Chicken  &nbsp;&nbsp; 6.99</h6>
        <p>  rice, lettuce, cucumber, carrot, sauteed zucchini, mushroom
            *Choice of spicy or teriyaki sauce 
            *Add a fried egg for $1.00</p>
        <h6 class = "display-6">Turkey-veggie on pita  &nbsp;&nbsp; 6.99</h6>
        <p> Turkey breast, provolone cheese, lettuce, tomato, onion,    
            cucumber, carrot, coleslaw, russian dressing</p>
        <h6 class = "display-6">California Club &nbsp;&nbsp; 6.99</h6>
        <p> Seasoned chicken breast, bacon, avocado, lettuce,     
            tomato, honey mustard on tortilla</p>
        <h6 class = "display-6">  Pesto chicken   &nbsp;&nbsp; 6.99</h6>
        <p> Grilled chicken, fresh mozzarella, roasted red peppers, lettuce,pesto sauce</p>
        </div>
    <div class = "col-4">
        <h6 class = "display-6"> B.B.Q Pulled Pork  &nbsp;&nbsp; 6.29</h6>
        <p> BBQ pork, coleslaw</p>
        <h6 class = "display-6">  Hummus Turkey on Pita &nbsp;&nbsp; 6.99</h6>
        <p> Turkey breast, hummus, lettuce, tomato, green 
            peppers, mushroom, cucumber </p>
        <h6 class = "display-6">Veggie Delight on Pita  &nbsp;&nbsp; 6.29</h6>
        <p> Avocado, swiss cheese, lettuce, tomato, mushroom, carrot, 
            yogurt cucumber sauce </p>
        <h6 class = "display-6">Fresh Mozzarella & Tomato on French roll  &nbsp;&nbsp; 6.99</h6>
        <p> Freshly sliced mozzarella with ripe tomato and basil with olive oil & red vinegar, topped with hot peppers 
            Avocado, swiss cheese, lettuce, tomato, mushroom, carrot, 
            yogurt cucumber sauce </p>
    </div>
</div>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Traditional Favorite Platters</h1>
        <p> Add a Medium fountain soda for $1.00</p>
</div> 
<br>
<div class = "row justify-content-center">
    <div class = "col-4">
        <h6 class = "display-6">Chicken Tenders with Fries &nbsp;&nbsp; 6.99</h6>
        <h6 class = "display-6">Shrimp with Fries &nbsp;&nbsp; 7.69</h6>
        <h6 class = "display-6">Chicken wings with Fries  &nbsp;&nbsp; 7.69</h6>
</div>
</div>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Wraps/Bowl</h1>
</div> 
<br>
<div class = "row justify-content-center">
    <div class = "col-4">
        <h6 class = "display-6">Veggie Burrito  &nbsp;&nbsp; 6.29</h6>
        <p>Rice, black beans, corn, salsa, lettuce, cheese, sour cream  </p>
        <h6 class = "display-6">Burrito (Chicken or Steak)   &nbsp;&nbsp; 6.99</h6>
        <p> Seasoned chicken, rice, black beans, corn, salsa, lettuce, cheese,   
            sour cream </p>
        <h6 class = "display-6"> Chicken Fajita &nbsp;&nbsp; 6.99</h6>
        <p>  Grilled chicken, sauteed onion and green peppers, cheese, lettuce,   
            in a tortilla with salsa (sour cream optional)</p>
    </div>
</div>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Deli Classics</h2>
</div> 
<br>
<div class = "row justify-content-around">
    <div class = "col-4">
        <h6 class = "display-6"> Egg Salad &nbsp;&nbsp; 5.09</h6>
        <h6 class = "display-6"> B.L.T. &nbsp;&nbsp; 5.49</h6>
        <h6 class = "display-6"> Ham &nbsp;&nbsp; 5.99</h6>
        <h6 class = "display-6"> Turkey Breast &nbsp;&nbsp; 5.99</h6>
        <h6 class = "display-6"> Chicken Salad &nbsp;&nbsp; 5.99</h6>
    </div>
    <div class = "col-4">
        <h6 class = "display-6"> Roast Beef &nbsp;&nbsp; 5.99</h6>
        <h6 class = "display-6"> Tuna Salad &nbsp;&nbsp; 5.99</h6>
        <h6 class = "display-6"> Corn Beef &nbsp;&nbsp; 5.99</h6>
        <h6 class = "display-6"> Italian Sub &nbsp;&nbsp; 6.99</h6>
    </div>
</div>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Specilty Salads</h2>
</div> 
<br>
<div class = "row justify-content-around">
    <div class = "col-4">
        <h6 class = "display-6"> Fruit Salad &nbsp;&nbsp; 3.99</h6>
        <h6 class = "display-6"> Garden Salad  &nbsp;&nbsp; 5.99</h6>
        <h6 class = "display-6"> Chicken Caesar Salad &nbsp; 6.99</h6>
        <h6 class = "display-6"> Greek Salad  &nbsp;&nbsp; 6.99</h6>
    </div>
    <div class = "col-4">
        <h6 class = "display-6"> Tuna Salad &nbsp;&nbsp; 6.99</h6>
        <h6 class = "display-6"> Cheff Salad &nbsp;&nbsp; 6.99</h6>
        <h6 class = "display-6"> Cobb Beef &nbsp;&nbsp; 6.99</h6>
    </div>
</div>

<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Side orders</h2>
</div> 
<br>
<div class = "row justify-content-around">
    <div class = "col-4">
        <h6 class = "display-6"> French Fries &nbsp;&nbsp; 2.19</h6>
    </div>
    <div class = "col-4">
        <h6 class = "display-6"> Onion Rings &nbsp;&nbsp; 2.99</h6>
    </div>
</div>
<br>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Soups (Homemade Daily)</h2>
    <p>Small: 2.79  &nbsp; Large: 3.49</p>
</div> 
<br>
<div class = "row justify-content-center">
    <div class = "col-5">
        <h6 class = "display-6">Monday - Chicken noodle, Cream of Tomato</h6>
        <h6 class = "display-6">Tuesday - Chicken rice, Minestrone</h6>
        <h6 class = "display-6">Wednesday - Chicken noodle, Cream of Potato </h6>
        <h6 class = "display-6">Thursday - Chicken Rice, Cream of Broccoli</h6>
        <h6 class = "display-6">Friday - Chicken Noodle, Cream of Mushroom</h6>
</div>
</div>
<br>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Hot Drinks</h2>
    <p>Starbucks Coffee (Hot or Iced)</p>
</div> 
<br>
<div class="row justify-content-center">
    <div class="col-4" align="center">
        <h6 class = "display-6">Café Latte</h6>  
        <h6 class = "display-6">Café Mocha</h6>   
        <h6 class = "display-6">White Mocha</h6>   
        <h6 class = "display-6">Cappuccino</h6>    
        <h6 class = "display-6">Caramel Macchiato</h6> 
        <h6 class = "display-6">Espresso</h6>          
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Vanilla Latte</h6>  
        <h6 class = "display-6">Chai Tea</h6>   
        <h6 class = "display-6">Hot Chocolate</h6>   
        <h6 class = "display-6">Americano </h6>    
        <h6 class = "display-6">Coffee of the Day</h6> 
        <h6 class = "display-6">Tea</h6>   
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Syrup</h6>    
        <h6 class = "display-6">Extra shot </h6> 
        <h6 class = "display-6">Soy / Almond milk</h6>  
    </div>
</div>
<br>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Cold Drinks</h2>
    <p>Starbucks Coffee (Hot or Iced)</p>
</div> 
<br>
<div class = "row justify-content-center">
    <div class = "col-6">
        <h6 class = "display-6">Smoothie (Strawberry, Banana, Mango)  &nbsp;&nbsp; 5.29</h6>
        <h6 class = "display-6">Frappuccino  &nbsp;&nbsp; 5.29</h6>
        <h6 class = "display-6"> Bubble Tea &nbsp;&nbsp; 5.29</h6>
        <h6 class = "display-6"> Iced Tea &nbsp;&nbsp;  1.95&nbsp;&nbsp;2.45&nbsp;&nbsp; 2.75</h6>

    </div>
</div>
<br>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Breakfast Menu</h2>
    <p>Served 7am-11am</p>
    <p>Choice of Meat: Sausage, Bacon, Ham </p>
    <p>Choice of Bread: White, Whole wheat, English Muffin</p>
</div> 
<br>
<div class="row justify-content-center">
    <div class="col-4" align="center">
        <h6 class = "display-6">Bagel &nbsp;&nbsp; 1.89</h6>  
        <h6 class = "display-6">Bagel with cream cheese&nbsp;&nbsp; 2.79</h6>   
        <h6 class = "display-6">Muffin&nbsp;&nbsp; 2.49</h6>         
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Egg Sandwich&nbsp;&nbsp; 2.99</h6>  
        <h6 class = "display-6">Egg and Cheese &nbsp;&nbsp; 3.49</h6>   
        <h6 class = "display-6">Egg and Cheese with Choice of Meat&nbsp;&nbsp; 3.99</h6>   
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Grilled Cheese&nbsp;&nbsp; 3.49</h6>    
        <h6 class = "display-6"> Hot Cakes (3 pieces)&nbsp;&nbsp; 3.69 </h6> 
        <h6 class = "display-6"> Breakfast Burrito&nbsp;&nbsp; 3.99</h6>  
    </div>
</div>
<br>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Breakfast Specials</h2>
</div> 
<br>
<div class="row justify-content-center">
    <div class="col-4" align="center">
        <h6 class = "display-6">Two Eggs with Toast, Home Fries / Hash Brown & Choice of Meat &nbsp;&nbsp; 5.79</h6>         
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Two Eggs with Hot Cakes & Choice of Meat&nbsp;&nbsp; 5.79</h6>    
    </div>
</div>
<br>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Omelettes</h2>
    <p>Served with Home Fries / Hash Brown, and Toast </p>
</div> 
<br>
<div class="row justify-content-center">
    <div class="col-4" align="center">
        <h6 class = "display-6">Cheese Omelette &nbsp;&nbsp; 4.99</h6>   
        <h6 class = "display-6"> Ham and Cheese Omelette &nbsp;&nbsp; 5.59</h6>   
        <h6 class = "display-6">Western Omelette &nbsp;&nbsp; 5.99</h6>         
    </div>
</div>
<br>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Extra</h2>
</div> 
<br>
<div class="row justify-content-center">
    <div class="col-4" align="center">
        <h6 class = "display-6">On bagel &nbsp;&nbsp; 0.50</h6>   
        <h6 class = "display-6"> On Croissant &nbsp;&nbsp; 0.50</h6>      
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Cheese &nbsp;&nbsp; 0.50</h6>   
        <h6 class = "display-6"> Extra Egg &nbsp;&nbsp; 1.00</h6>       
    </div>
</div>
<div class = "container-fluid padding text-center" style = "background-color: rgb(255, 255, 255); padding-top: .5em; padding-bottom: .2em;"> 
    <h2 class = "display-6">Side Items</h2>
</div> 
<br>
<div class="row justify-content-center">
    <div class="col-4" align="center">
        <h6 class = "display-6">Boiled Egg &nbsp;&nbsp; 1.39</h6>   
        <h6 class = "display-6"> Hash Brown &nbsp;&nbsp; 1.39</h6> 
        <h6 class = "display-6"> Home Fries &nbsp;&nbsp; 2.19</h6>         
    </div>
    <div class="col-4" align="center">
        <h6 class = "display-6">Bacon (3 Strips) &nbsp;&nbsp; 2.50</h6>   
        <h6 class = "display-6"> Sausage &nbsp;&nbsp; 1.39</h6>       
    </div>
</div>
{% endblock %}S